@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #11183f !important;
  background: url('../desing_bg.svg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
}

.container-signin {
  display: flex !important;
  align-items: center !important;
  width: 90%;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
}

.container-home,
.container-ofertas,
.container-crear-oferta,
.container-profile,
.container-map,
.container-finalizados,
.container-payment {
  /* background-color: rgba(0, 0, 0, 0.2); */
  background: inherit;
  height: 100%;
  width: 90%;
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
}

.container-home::before,
.container-signin::before,
.container-ofertas::before,
.container-crear-oferta::before,
.container-profile::before,
.container-map::before,
.container-finalizados::before,
.container-payment::before {
  content: '';
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 1);
  filter: blur(5px) opacity(0.9);
  margin: -20px;
}

.article {
  /* background-color: rgba(0, 0, 0, 0.9); */
  height: 100%;
  width: 100%;
  border-radius: 15px;
  /* padding: 20px; */
  /* margin: 20px auto; */
  /* position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.9); */
}

.inner-title > h1 {
  color: #fff;
  font-weight: bold;
  /* font-size: 70px; */
}

.inner-title > h1 > span {
  color: #4262eb;
}

#head {
  animation: head 1s infinite linear;
}

#cage {
  animation: bounce 3s infinite linear;
}

#front_tire {
  animation: tires 1.5s infinite linear;
}

#rear_tire {
  animation: tires 2.5s infinite linear;
}

.motorcicle_container {
  position: absolute;
  animation: 20s ease-in-out 300ms infinite motorcicle;
  /* display: none; */
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
  top: -260px;
  left: 0;
}

.motorcicle_container > svg {
  width: 200px;
  /* width: auto; */
}

.login {
  margin-top: 150px;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: auto;
}

/* !Inputs */
.input {
  align-self: stretch;
  position: relative;
  /* width: auto; */
  margin-top: 20px;
}

.input input {
  padding: 10px;
  height: 50px;
  width: 100%;
  font-size: 1em;
  /* border-radius: 7px; */
  background: rgb(255, 255, 255);
  border: 1px #5d5d5d solid;
  outline: none;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.input span {
  padding: 13px 15px;
  font-size: 1em;
  position: absolute;
  pointer-events: none;
  left: 0;
  color: #5d5d5d;
  text-transform: uppercase;
  transition: 0.5s;
}

.input input:valid ~ span,
.input input:focus ~ span {
  color: #4262eb;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: rgba(0, 21, 31);
  border-left: 1px solid #4262eb;
  border-right: 1px solid #4262eb;
  letter-spacing: 0.2em;
  border-radius: 3px;
}

.input input:valid,
.input input:focus {
  border: 1px solid #4262eb;
}

#input-2 input:valid ~ span,
#input-2 input:focus ~ span {
  border-radius: 3px;
  background: #4262eb;
  color: rgba(0, 21, 31);
}

#olvide {
  text-decoration: none;
  color: #4262eb;
}

#inicio-sesion {
  background-color: #4262eb;
  color: #fff;
  border: none;
  width: 100%;
  height: 50px;
}
/* !Inputs */

#box-others-login {
  position: relative;
}

#hr-others-login {
  background-color: #5d5d5d;
}

#others-login {
  position: absolute;
  background-color: #ffffff;
  color: #5d5d5d;
  padding: 4px 10px;
  top: 50%; /* Mueve la parte superior del objeto al 50% del contenedor */
  left: 50%; /* Mueve la izquierda del objeto al 50% del contenedor */
  transform: translate(-50%, -50%); /* Centra el objeto correctamente */
  white-space: nowrap;
}

#others-login-btn {
  width: 100%;
}

#others-login-btn > button {
  border: 1px solid #5d5d5d;
}

#others-login-btn button:nth-child(2) {
  background-color: #000;
  color: #fff;
}

#no-account {
  color: #5d5d5d;
}

#no-account > a {
  text-decoration: none;
  color: #4262eb;
}

/* !Animations */

@keyframes bounce {
  0% {
    translate: 0 0 0;
  }
  25% {
    translate: 3px -7px 0;
  }
  50% {
    translate: 0 0 0;
  }
  75% {
    translate: -3px -7px 0;
  }
  100% {
    translate: 0 0 0;
  }
}

@keyframes head {
  0% {
    translate: 0 0 0;
  }
  25% {
    translate: 5px 0 0;
  }
  50% {
    translate: -2px 0 0;
  }
  100% {
    translate: 0 0 0;
  }
}

@keyframes tires {
  0% {
    translate: 0 0 0;
  }
  50% {
    translate: 0 -7px 0;
  }
  100% {
    translate: 0 0 0;
  }
}

@keyframes motorcicle {
  0% {
    translate: 0 0 0;
  }
  50% {
    translate: 100% 0 0;
  }
  100% {
    translate: 0 0 0;
  }
}

/* Crear oferta */
/* #container-crear-oferta {
  background-color: #000 !important;
} */

/* Map */
#map {
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
}
